/* !!!!! Base styles Start !!!!! */

 :root {
    --base-font-size: 1em;
    --base-height: 5em;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    display: grid;
    grid-template-areas: "header header header header" "nav nav nav nav" "carousel carousel carousel carousel" "content content content content" "video video video video" "slide slide slide slide" "footer footer footer footer";
    font-size: var(--base-font-size, 26px);
    /* font-family: 'Open Sans', 'Roboto', 'Montserrat', sans-serif; */
    font-family: sans-serif;
    position: relative;
}

p {
    line-height: 1.33333em;
}

.container {
    width: 100%;
    margin: auto;
    position: relative;
}

.none {
    display: none;
}


/* Link */

a:link,
a:visited {
    display: inline-block;
    width: auto;
    color: black;
    text-decoration: none;
}

a:hover {
    /* padding-bottom: 5px; */
    color: red;
    -webkit-transition: color, .5s;
    -moz-transition: color, .5s;
    -o-transition: color, .5s;
    transition: color, .5s;
}


/* Image */

img {
    /* height: auto; */
    width: 100%;
    border-radius: .5em;
}

img.core-img {
    width: 100%;
    border-radius: 0;
}


/* Buttons */

.button-continue {
    display: inline-block;
    width: 13em;
    line-height: 2em;
    padding: .3em;
    border: 1px solid black;
    border-radius: .3em;
    font-size: .9em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .07em;
}

.button-continue:hover {
    border: 1px solid red;
    color: red;
    transition: color, border, .5s, .5s;
    cursor: pointer;
}

.button-subscribe {
    height: 3em;
    margin-top: 1.5em;
    padding: .3em;
    border-radius: .2em;
    background-color: red;
    color: white;
    text-transform: uppercase;
}

.button-subscribe:hover {
    background-color: rgb(212, 21, 21);
    cursor: pointer;
}


/* Modal Window */

.overlay-opacity {
    /* display: block; */
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    background-color: black;
    opacity: .85;
}

.window__close-cross {
    width: auto;
    margin: 1em 1em 0;
    text-align: right;
}

.window__close-cross img {
    width: 1em;
}

.window__close-cross img:hover {
    cursor: pointer;
}


/* Content */

.content {
    grid-area: content;
    background: #ececec;
}


/* !!!!! Base styles End !!!!! */


/* !!!!! Adaptive Styles Start !!!!! */


/* !!!!! Styles for Phones Start !!!!! */

@media (min-width: 320px) {
    .container {
        max-width: 300px;
    }
    /* Header */
    .header {
        grid-area: header;
        background-color: white;
        border-bottom: 1px solid #ededed;
    }
    .header-inner {
        display: flex;
        justify-content: space-between;
        padding: .5em 0 .9em;
    }
    /* Logo */
    .logo {
        flex-shrink: 0;
        display: block;
        width: 7em;
        padding-top: .7em;
        margin-left: 1em;
    }
    .logo_mobile {
        width: 7em;
        padding-top: .7em;
    }
    .h-menu {
        display: flex;
        justify-content: flex-end;
        padding-top: 1.3em;
    }
    .h-menu__item {
        width: auto;
    }
    .h-menu__geolocation {
        display: flex;
    }
    .h-menu__name-region {
        display: none;
        width: auto;
        margin-right: 3em;
    }
    .h-menu__select-region {
        padding-right: .8em;
        padding-bottom: .1em;
        border-bottom: .5px dotted black;
        cursor: pointer;
        position: relative;
    }
    .h-menu__select-region:hover {
        color: #5b5b5b;
        padding-bottom: .1em;
    }
    .h-menu__select-region:after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: .6em;
        right: 0;
        display: inline-block;
        border: 3px solid;
        border-color: black transparent transparent;
    }
    .h-menu__geolocation-window {
        display: none;
        position: fixed;
        left: 0;
        right: 0;
        margin: auto;
        background-color: white;
        z-index: 999;
    }
    .h-menu__geolocation-window-wrap {
        margin: 2em 2em 5em;
        width: calc(100% - 4em);
    }
    .geolocation-window__current-region {
        margin-bottom: 2em;
        color: gray;
        font-size: .85em;
    }
    .h-menu__geolocation-window-inner {}
    .geolocation-window__item {}
    .geolocation-window__select-region {}
    .select-region-text {
        font-size: .85em;
    }
    .select-region-list {
        display: flex;
    }
    .select-region-col {
        margin-top: 1em;
    }
    .select-region-row {
        margin: .5em auto;
    }
    .top-city {
        font-size: .85em;
        color: rgb(64, 120, 172) !important;
    }
    .top-city:hover {
        color: unset;
    }
    .geolocation-window__item {}
    .geolocation-window__item_down {
        margin-top: 2em;
    }
    .geolocation-window__input-region {}
    .input-region-text {
        font-size: .85em;
    }
    .input-region-area {
        margin-top: 1em;
        padding: .5em .7em;
        border: 1px solid #afafaf;
        border-radius: 1px;
        font-size: .85em;
    }
    .h-menu__news-region {
        display: none;
    }
    .h-menu__news-region a:hover {
        color: #5b5b5b;
    }
    .h-menu__services {
        display: flex;
        justify-content: flex-end;
    }
    .h-menu__services-item {
        max-width: 10em;
        margin-left: 1.5em;
    }
    .h-menu__search {
        width: 1.2em;
        /* position: relative; */
    }
    /* Search Modal Window Start */
    .h-menu__search-window {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 999;
        background-color: white;
    }
    .search-window__inner {}
    /* Search Modal Window Up */
    .search-window__inner-up {
        display: flex;
        padding: .5em 1em 0;
        border-bottom: 1px solid #afafaf;
    }
    .search-window__inner-up-item_left {
        flex-basis: 95%;
        padding: .5em 0 1em;
    }
    .search-window__inner-up-item_right {
        flex-basis: 5%;
    }
    .search-window__search-form {}
    .search-window__search-fieldset {
        display: flex;
        border: 0;
    }
    .search-field {
        display: inline-block;
    }
    .search-field__input-text-wrap {
        flex-basis: 90%;
    }
    .search-field__input-text {
        padding: .5em .8em 0;
        font-size: 1em;
        border: 0;
        outline: none;
    }
    .search-field__input-submit-wrap {
        flex-basis: 10%;
    }
    .search-field__input-submit {
        padding: .5em .8em;
        color: white;
        font-size: 1em;
        background-color: gray;
        border: 0;
        border-radius: 2px;
    }
    .search-field__input-submit:hover {
        cursor: pointer;
    }
    .search-window__close-cross-area {
        display: inline;
    }
    /* Search Modal Window Down */
    .search-window__inner-down {}
    .search-window__popular-area {
        padding: 1em 1em 0;
    }
    .search-window__popular-row {
        padding: .5em .8em;
    }
    .search-window__popular-title {
        color: #afafaf;
    }
    .search-window__popular-list {
        margin: 1em 0;
    }
    .search-window__popular-list-item {
        list-style: none;
        margin-bottom: 1em;
    }
    .search-window__popular-list-item a:link,
    .search-window__popular-list-item a:visited,
    .search-window__popular-list-item a:hover {
        color: #1f77bb;
    }
    /* Search Modal Window End*/
    .h-icon {}
    .h-icon_search img {
        width: 1.2em;
        /* position: absolute;
        top: 1px; */
    }
    .h-menu__geo {
        width: 1.2em;
        /* position: relative; */
    }
    .h-icon_geo {
        /* position: absolute;
        top: 1px; */
    }
    .h-icon_geo img {
        width: 1.2em;
    }
    .h-menu__login,
    .h-menu__logout {
        display: none;
        width: auto;
    }
    .h-menu__login-link,
    .h-menu__logout-link {
        display: flex;
    }
    .h-menu__login-link img,
    .h-menu__logout-link img {
        width: 1.2em;
    }
    .h-menu__login-link p,
    .h-menu__logout-link p {
        display: inline;
        margin-left: .5em;
        vertical-align: top;
    }
    .h-menu__login-link:hover,
    .h-menu__logout-link:hover {
        cursor: pointer;
        color: #5b5b5b;
    }
    /* Menu */
    .menu-toggle-wrap {
        width: 3em;
        margin-right: 1em;
        flex-shrink: 0;
        position: relative;
    }
    .menu-toggle {
        width: 1.3em;
        height: 100%;
        position: absolute;
        right: 0;
        /* top: .39em;
        border: 0;
        font-size: 2.2em;
        overflow: hidden;
        white-space: nowrap;
        text-indent: 5em;
        color: black;
        background-color: transparent; */
    }
    .menu-toggle img {
        height: 1.1em;
        position: absolute;
        top: .1em;
        right: 0;
    }
    .nav.is-open {
        display: block;
    }
    .nav {
        display: none;
        width: 100%;
        z-index: 99;
        position: absolute;
        top: 4em;
        right: 0;
        background-color: white;
    }
    .nav ul {
        list-style-type: none;
    }
    .nav li {
        text-transform: uppercase;
        font-size: 1rem;
        padding: .5em 2.5em;
        margin: .5em 0;
        width: auto;
        text-align: right;
    }
    /* Navigation Subategory */
    .nav-subcategory {
        grid-area: mobnav;
        background-color: white;
        border-top: 1px solid #ededed;
    }
    .nav-subcategory-inner {
        padding: 1em 0;
    }
    .nav-subcategory-title {
        margin: .7em 0;
        padding: 0 1em;
        text-transform: uppercase;
        font-family: 'Comfortaa';
        font-weight: 700;
        font-size: .9em;
    }
    .nav-subcategory-list select {
        height: 2.2em;
        padding: 0 .5em;
        border-color: #afafaf;
        border-radius: .5em;
        /* background-color: #ececec; */
        /* appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none; */
    }
    .nav-subcategory-list ul {
        display: none;
    }
    /* -------------------------------------------------- */
    /* Not Found */
    .notfound {
        /* margin: 6.5em 0 .5em; */
    }
    .notfound__code {
        font-family: 'Open Sans', 'Roboto', sans-serif;
        font-size: 3em;
        text-align: center;
    }
    .notfound__text {
        font-family: 'Open Sans', 'Roboto', sans-serif;
        text-align: center;
    }
    .notfound__text a {
        color: #888888;
    }
    /* Carousel */
    /* .owl-carousel-wrapper {
        grid-area: carousel;
    }
    .container.container_carousel {
        min-width: 100%;
    }
    .carousel_item {
        height: 23em;
        background-size: 200% auto;
        // background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        position: relative;
        z-index: 2;
        padding: 1em;
    }
    .carousel_item:before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .carousel_item div {
        margin: 1em 0 0 .5em;
    }
    .crsl-news-title a {
        color: white;
    }
    .crsl-news-title a:hover {
        color: red;
    }
    .crsl-news-date {
        color: white;
        font-style: italic;
    } */
    /* Marquee */
    /* Inner Content */
    .inner-content {
        display: flex;
        flex-flow: column nowrap;
        margin: 1em 0;
    }
    /* Main */
    .main {
        margin-bottom: 2em;
    }
    .news-category-title a {
        color: white;
        background-color: red;
        border-radius: .3em;
        padding: .4em;
        text-decoration: none;
        text-transform: uppercase;
        font-size: .7em;
        letter-spacing: .1em;
    }
    /* Top Single News */
    /* Single Post */
    .top-single-news {
        padding: 1em;
        background-color: white;
        border-radius: .5em;
        /* border-bottom: 3px solid rgb(231, 231, 231); */
    }
    .single-post {
        padding: 1em;
        border-radius: .5em;
        background-color: white;
    }
    .ts-news-content,
    .single-post__content {
        display: flex;
        flex-flow: column wrap;
        margin: 1.5em auto 2em;
    }
    .ts-news-content div:not(:first-child),
    .single-post__content>div:not(:first-child) {
        margin-top: 1em;
    }
    .ts-news-title h2,
    .single-post__title h2 {
        font-family: 'Comfortaa', sans-serif;
        font-size: 1.3rem;
    }
    .ts-news-date,
    .single-post__date {
        font-style: italic;
        margin-bottom: 1em;
    }
    .ts-news-image,
    .single-post__image {
        margin-bottom: 1em;
    }
    .ts-news-text,
    .single-post__text {
        color: gray;
        line-height: 1.5em;
    }
    .single-post__text p {
        margin-bottom: 1em;
    }
    /* Read More */
    .read-more {
        /* margin: 0 1em 1em 0; */
        /* width: 40%; */
    }
    .read-more_float_left {
        float: left;
    }
    .read-more_float_right {
        float: right;
    }
    .read-more__container {
        padding: 1em;
        border-radius: .5em;
        background-color: #f2f2f2;
    }
    .read-more__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .read-more__img {
        flex: 0 0 40%;
        padding-right: 1em;
    }
    .read-more__title {
        line-height: 1em;
    }
    .read-more__title a {
        font-family: 'Comfortaa', sans-serif;
        font-size: .7em;
    }
    .read-more__title a:hover {
        color: red;
    }
    /* Single Post Subpost Contacts */
    .single-post__subpost-contacts {
        border-top: 1px solid #afafaf;
    }
    .single-post__subpost-contacts-item {
        margin: 2em 0;
    }
    .subpostcon-telegram {
        border-radius: .3em;
        height: 3.3em;
        background-color: #31a8e0;
        position: relative;
    }
    .subpostcon-telegram__link {
        display: block;
        padding: 1em .5em;
        text-align: center;
        font-weight: bold;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .subpostcon-telegram__link:hover {
        padding: 1em .5em;
        color: unset;
    }
    .subpostcon-telegram__icon img {
        width: 1.3em;
        margin-right: .3em;
        vertical-align: middle;
    }
    .subpostcon-telegram__text {
        color: white;
    }
    .subpostcon-yandex {
        border: 1px solid #afafaf;
        border-radius: .3em;
        height: 3.3em;
        position: relative;
    }
    .subpostcon-yandex__link {
        display: block;
        padding: 1em .5em;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .subpostcon-yandex__link:hover {
        padding: 1em .5em;
        color: unset;
    }
    .subpostcon-yandex__icon {
        display: inline-block;
        text-align: center;
    }
    .subpostcon-yandex__icon img {
        width: 7em;
        vertical-align: middle;
    }
    .subpostcon-comment {
        border-radius: .3em;
        height: 3.3em;
        background-color: #d8d8d8;
        position: relative;
    }
    .subpostcon-comment__open-comments {
        display: block;
        padding: 1em .5em;
        text-align: center;
        font-weight: bold;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .subpostcon-comment__open-comments:hover {
        padding: 1em .5em;
        color: unset;
    }
    .subpostcon-comment__icon img {
        width: 1.5em;
        margin-right: .3em;
        vertical-align: middle;
    }
    .subpostcon-comment__text {
        color: rgb(80, 80, 80);
    }
    .subpostcon-comment__text-hide {
        display: none;
        color: rgb(80, 80, 80);
    }
    .subpostcon-comment__count {}
    /* Comment Area */
    .single-post__comment-area {
        display: none;
        border-top: 1px solid #afafaf;
    }
    .single-post__comment-area-item {}
    .comment-area-item-up {
        padding: 1em 0;
    }
    .comment-area-item-middle {
        padding: 1em 0 .1em;
    }
    .comment-area-item-down {
        padding: .1em 0 1em;
    }
    .comment-area-header {
        padding-top: 1em;
    }
    .comment-area-header__title {
        margin-bottom: .5em;
        font-size: 1.1em;
    }
    .comment-area-header__subscribe:hover {
        cursor: pointer;
    }
    .checkbox-frame {
        margin-right: .3em;
    }
    .checkbox-frame img {
        width: 1.2em;
        vertical-align: -20%;
    }
    .checkbox-title {
        font-size: .9em;
    }
    .reload_comments {
        padding-top: .2em;
        border-top: 1px solid #dedede;
    }
    /* Comment Area */
    .comment-area {
        max-height: 30em;
        /* border: 1px solid #afafaf; */
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
        border-radius: .1em;
        padding: 1em;
        font-size: .9em;
        overflow-y: scroll;
    }
    /* Scrollbar Styles */
     ::-webkit-scrollbar {
        width: .3em;
    }
     ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(161, 161, 161, 0.3);
        border-radius: 10px;
    }
     ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(161, 161, 161, 0.5);
    }
    /* ---------------------------------------------------------------------------------------------------- */
    .comment-area_none {
        padding: 1em;
        font-size: .9em;
    }
    .one-comment {
        margin: 1.5em 0;
    }
    .one-comment__author {
        height: 1.5em;
        margin-bottom: 1em;
        font-weight: 700;
    }
    .one-comment__author-avatar {
        width: auto;
        float: left;
        margin-right: 1em;
    }
    .one-comment__author-avatar img.core-img {
        width: 2em;
    }
    .one-comment__author-name {
        height: 100%;
        padding: .25em 0;
    }
    .one-comment__body {
        background-color: #f4f4f4;
        border-radius: .2em .6em .6em .6em;
        padding: .2em;
        position: relative;
    }
    .one-comment__context-menu-wrap {
        width: 1.2em;
        position: absolute;
        top: .5em;
        right: 1em;
    }
    .one-comment__context-menu-dottes:hover {
        cursor: pointer;
    }
    .one-comment__contex-menu {
        width: auto;
        border-radius: .5em;
        position: absolute;
        top: .5em;
        right: 1.5em;
        z-index: 2;
    }
    .one-comment__contex-menu-overlay:before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: .5em;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .one-comment__context-menu-item {
        color: white;
        padding: .5em .7em;
        font-size: .9em;
        text-align: center;
        -webkit-transition: color .3s linear;
        -moz-transition: color .3s linear;
        -o-transition: color .3s linear;
        transition: color .3s linear;
    }
    .one-comment__context-menu-item:hover {
        cursor: pointer;
        color: #a4a4a4;
    }
    .one-comment__in-reply {
        background-color: white;
        border-radius: .6em;
        padding: .5em .75em;
    }
    .one-comment__in-reply-content {
        border-left: 2px solid #afafaf;
        padding-left: 1em;
    }
    .one-comment__in-reply-content-delete {
        height: 2.3em;
        line-height: 2.3em;
        color: #777777;
    }
    .one-comment__author.one-comment__author_in-reply {
        margin-bottom: .3em;
    }
    .one-comment__text.one-comment__text_in-reply {
        margin-bottom: 0;
        padding: unset;
    }
    .one-comment__content {
        padding: .5em .75em;
    }
    .one-comment__text {
        margin-bottom: .5em;
    }
    .one-comment__submit-date {
        font-size: .8em;
        color: #afafaf;
    }
    .one-comment__footer {
        padding: 0 .75em .5em;
        display: flex;
        justify-content: space-between;
    }
    .one-comment__response {
        padding: .5em 0;
        flex-basis: 50%;
    }
    .one-comment__response-title {
        display: inline;
        color: #a4a4a4;
        -webkit-transition: color .3s linear;
        -moz-transition: color .3s linear;
        -o-transition: color .3s linear;
        transition: color .3s linear;
    }
    .one-comment__response-title:hover {
        cursor: pointer;
        color: black;
    }
    .one-comment__reactions {
        flex-basis: 50%;
        text-align: end;
    }
    .one-comment__reactions-item {
        display: inline-block;
        width: auto;
        margin-left: .7em;
        padding: .7em 0 .3em;
    }
    .one-comment__reactions-icon {
        display: inline-block;
        width: 1.2em;
        position: relative;
    }
    .core-img_like {
        position: absolute;
        top: -1.1em;
        left: -.07em;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;
    }
    .core-img_dislike {
        position: absolute;
        top: -.75em;
        left: -.07em;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;
    }
    .core-img_like:hover {
        cursor: pointer;
        -moz-transform: rotate(-10deg) scale(1.2);
        -ms-transform: rotate(-10deg) scale(1.2);
        -webkit-transform: rotate(-10deg) scale(1.2);
        -o-transform: rotate(-10deg) scale(1.2);
        transform: rotate(-10deg) scale(1.2);
    }
    .core-img_dislike:hover {
        cursor: pointer;
        -moz-transform: rotate(10deg) scale(1.2);
        -ms-transform: rotate(10deg) scale(1.2);
        -webkit-transform: rotate(10deg) scale(1.2);
        -o-transform: rotate(10deg) scale(1.2);
        transform: rotate(10deg) scale(1.2);
    }
    .one-comment__reactions-count {
        display: inline-block;
        width: auto;
        /* padding: .7em 0 .3em; */
        text-align: end;
        color: #a4a4a4;
        font-style: italic;
        font-size: .9em;
    }
    /*  */
    .span-auth,
    .span-reg {
        color: #1f77bb;
    }
    .span-auth:hover,
    .span-reg:hover {
        cursor: pointer;
    }
    .in_reply-load-area {
        position: relative;
    }
    .in-reply_load {
        display: flex;
        width: auto;
        padding: .5em 0;
        border-top: 1px solid #dedede;
        /* border-bottom: 1px solid #dedede; */
        border-radius: 0;
        position: absolute;
        left: .9em;
        bottom: 0;
        right: 1.1em;
    }
    .in-reply-content_load {
        border-color: #0075FF;
    }
    .in-reply-content_load>.one-comment__author_in-reply {
        color: #0075FF;
    }
    .form-comment {
        padding: 0 1.1em 0 .9em;
    }
    .input-area {
        /* min-height: 10em; */
        border-top: 1px solid #dedede;
        border-right: none;
        border-bottom: none;
        border-left: none;
        border-radius: .1em .1em .6em .6em;
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
        resize: none;
        padding: 1em;
        font-size: .9em;
    }
    .input-area:hover {
        cursor: pointer;
    }
    .input-area_unclickable:before {
        content: 'Напишите комментарий...';
        color: #dedede;
    }
    textarea.input-area {
        font-family: sans-serif;
    }
     ::-webkit-input-placeholder {
        color: #dedede;
        font-family: sans-serif;
        font-size: 1em;
    }
     ::-moz-placeholder {
        color: #dedede;
        font-family: sans-serif;
        font-size: 1em;
    }
     :-moz-placeholder {
        color: #dedede;
        font-family: sans-serif;
        font-size: 1em;
    }
     :-ms-input-placeholder {
        color: #dedede;
        font-family: sans-serif;
        font-size: 1em;
    }
    textarea.input-area:focus {
        background: #f4f4f4;
        outline: none;
    }
    .button-send {
        margin-top: 1em;
        padding: 0 1.1em;
        text-align: end;
    }
    .button-send__input_submit {
        width: auto;
        padding: .8em 1.3em;
        border: 0;
        border-radius: .3em;
        background-color: #1f77bb;
        color: white;
        font-weight: bold;
    }
    .button-send__input_submit:hover {
        cursor: pointer;
        background-color: #2788d3;
        -webkit-transition: all 500ms ease 0s;
        -moz-transition: all 500ms ease 0s;
        -o-transition: all 500ms ease 0s;
        transition: all 500ms ease 0s;
    }
    .button-send__input_submit:focus {
        outline: none;
    }
    /* Registration Window */
    .authentication-window {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 100%;
        height: 37.5em;
        border-radius: 10px;
        background-color: white;
        z-index: 999;
    }
    @media (min-width: 352px) {
        .authentication-window {
            width: 22em;
        }
    }
    .authentication-window__container {
        width: calc(100% - 4em);
        margin: auto;
        position: relative;
    }
    .authentication-window__title-area {
        color: rgb(80, 80, 80);
        position: relative;
    }
    .authentication-window__title-area:after {
        height: .05em;
        background-color: #afafaf;
        content: "";
        position: absolute;
        top: 2.5em;
        left: 0;
    }
    .authentication-window__title-area-item {
        display: inline-block;
        margin-right: 1.5em;
        padding-bottom: 1.5em;
        width: auto;
        position: relative;
    }
    .authentication-window__title-area-item_underline {
        border-bottom: .2em solid red;
        position: absolute;
        bottom: .05em;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    /* .authentication-window__title-area-item:after {
        display: none;
        height: .15em;
        background-color: red;
        content: "";
        position: absolute;
        top: 2.35em;
        left: 0;
    } */
    .authentication-window__title-area-item:hover {
        cursor: pointer;
    }
    .authentication-window__title-area-item:hover:after {
        display: block;
    }
    /* .authentication-window__content {
        position: relative;
    } */
    .auth-content-item.item-0 {
        display: none;
    }
    .auth-content-item.item-1 {
        display: block;
    }
    .auth-description {
        color: rgb(80, 80, 80);
    }
    .auth-login__text {
        font-size: .9em;
        margin: 3em auto 1.5em;
    }
    .auth-login__form {
        margin-top: 2.5em;
    }
    .for-registration {}
    .for-login {}
    .textfield.textfield_for-auth {
        width: calc(100% - 3em);
        height: 2.5em;
        border: 0;
        background-color: #ececec;
    }
    .textfield.textfield_for-auth:focus {
        border: 1px solid #afafaf;
        outline: none;
    }
    .textfield.textfield_for-auth::-webkit-input-placeholder {
        color: #bdbdbd;
    }
    .textfield.textfield_for-auth::-moz-placeholder {
        color: #bdbdbd;
    }
    .textfield.textfield_for-auth:-moz-placeholder {
        color: #bdbdbd;
    }
    .textfield.textfield_for-auth:-ms-input-placeholder {
        color: #bdbdbd;
    }
    .textfield_for-auth.registration,
    .textfield_for-auth.login {
        margin: 0 1.5em .7em;
    }
    .error {
        border: 1px solid red !important;
    }
    .button-subscribe_registration,
    .button-subscribe_login {
        width: calc(100% - 3em);
        height: 2.5em;
        margin: auto 1.5em;
        border: 0;
        letter-spacing: 1px;
        text-transform: none;
    }
    .auth-social__text {
        width: 80%;
        font-size: .85em;
        margin: 3em auto 1.5em;
        text-align: center;
    }
    @media (max-height: 37.5em) {
        .authentication-window {
            height: 100vh;
        }
        .auth-login__text {
            margin: 2.5em auto 1em;
        }
        .auth-social__text {
            margin: 2em auto 1.5em;
        }
    }
    .auth-login__social {
        position: relative;
        width: calc(100% - 3em);
        margin: 1em auto 1.5em;
        display: flex;
        justify-content: space-around;
    }
    .auth-login__social-item {
        flex-basis: 2em;
    }
    img.core-img.social-icon {
        width: 2em;
    }
    .auth-agreement__text {
        position: relative;
        font-size: .8em;
        margin: 1.5em auto;
        padding-top: 1.5em;
        border-top: .05em solid #afafaf;
    }
    /* .auth-agreement__text:before {
        height: .05em;
        background-color: #afafaf;
        content: "";
        position: absolute;
        top: -2em;
        left: 0;
    } */
    .auth-agreement__link {
        text-decoration: underline !important;
    }
    /* Other Top News */
    .other-top-news {
        display: block;
        /* border-bottom: 3px solid rgb(231, 231, 231); */
    }
    .one-other-top-news:not(:last-child) {
        /* border-bottom: 1px solid rgb(231, 231, 231); */
    }
    .one-other-top-news {
        /* padding: 3em 0; */
        margin-top: .5em;
        padding: 1em;
        background-color: white;
        border-radius: .5em;
    }
    .oot-news-image {
        flex: 0 0 40%;
        padding-right: 1.5em;
    }
    .oot-news-content {
        flex: 0 0 60%;
        display: flex;
        flex-flow: column nowrap;
    }
    .oot-news-content div {
        margin-top: 1em;
    }
    .oot-news-title h2 {
        font-family: 'Comfortaa', sans-serif;
        font-size: 1.2rem;
    }
    .oot-news-date {
        font-style: italic;
        font-size: .8em;
    }
    .oot-news-text {
        color: gray;
        font-size: .9em;
    }
    /* Category Top News */
    .one-category-top-news {
        /* padding: 2em 0 1.5em;
        border-bottom: 3px solid rgb(231, 231, 231); */
        margin-top: .5em;
        padding: 1em;
        background-color: white;
        border-radius: .5em;
    }
    .oct-news-list {
        padding-top: 1.5em;
    }
    .oct-news-list-col-1 {
        border-bottom: 1px solid rgb(231, 231, 231);
    }
    .oct-news-list-col-2,
    .oct-news-list-row:not(:last-child) {
        border-bottom: 1px solid rgb(231, 231, 231);
    }
    .oct-news-title {
        margin: .5em 0;
    }
    .oct-news-title h2 {
        display: inline;
        font-family: 'Comfortaa', sans-serif;
        font-size: 1rem;
    }
    .mobile-oct-news-date {
        font-style: italic;
        font-size: .8em;
        opacity: .5;
    }
    .oct-news-date {
        display: none;
    }
    /* ************************************************** */
    /* Multi News One Category */
    .one-category-news__wrap {}
    .one-category-news__row_top,
    .one-category-news__row_midlle,
    .one-category-news__row_down {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .one-category-news__content-col {
        display: flex;
        flex-direction: column;
        margin-bottom: .5em;
        padding: 1em;
        background: white;
        border-radius: .5em;
        font-size: .7em;
        position: relative;
    }
    .third-col {}
    .half-col {}
    .single-col {}
    .one-category-news__content-row {}
    .one-category-news__content-row_mobile {
        display: block;
    }
    .ocn-news-title {
        margin-bottom: 1em;
        font-family: 'Comfortaa', sans-serif;
    }
    .ocn-news-title>a:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .ocn-news-text {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        height: 2.4em;
        margin-bottom: 1em;
    }
    .ocn-news-image {}
    .ocn-news-date {
        margin-top: 1em;
        font-style: italic;
    }
    .one-category-news__content-row_flex {
        display: none;
    }
    .one-category-news__content-col_flex {}
    /* ************************************************** */
    /* Sidebar */
    .sidebar {
        margin-bottom: 3em;
        border-top: 1px solid white;
    }
    .main-news {
        margin-top: 2em;
        padding: 2em 1em 1em;
        background: white;
        border-radius: .5em;
    }
    .widget-title {
        border-bottom: 1px solid rgb(231, 231, 231);
        padding-bottom: 1em;
    }
    h5 {
        font-size: 1rem;
        font-weight: 400;
    }
    /* Breaking News */
    .single-news-widget {
        margin: 1.3em 0 0;
        position: relative;
        z-index: 1;
    }
    .breaking-news-category {
        position: absolute;
        top: 0;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: .5em .5em 0 0;
    }
    .breaking-news-category p {
        width: 50%;
        color: white;
        border-radius: .5em 0 0 0;
        background-color: red;
        font-size: .7em;
        padding: .4em;
        text-align: center;
        text-transform: uppercase;
    }
    .breaking-news-title {
        position: absolute;
        bottom: 0;
        z-index: 2;
        padding: 1em;
        border-radius: 0 0 .5em .5em;
        background-color: rgba(0, 0, 0, 0.5);
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 1%, #000 98%, #000 99%);
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 1%, #000 98%, #000 99%);
        background: -o-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 1%, #000 98%, #000 99%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 1%, #000 98%, #000 99%);
    }
    .breaking-news-title h2 {
        font-family: 'Comfortaa', sans-serif;
        font-size: .9rem;
    }
    .breaking-news-title a {
        color: white;
    }
    .breaking-news-title a:hover {
        color: red;
    }
    /* Recommend */
    .recommend-area {
        margin-top: .5em;
        padding: 2em 1em 1em;
        background: white;
        border-radius: .5em;
    }
    .widget-title {}
    .recommend-wrap {}
    .recommend-item {
        display: flex;
        padding: 1.5em 0 0;
        color: gray;
        font-size: .9em;
        line-height: 1.5em;
    }
    .recommend-item__image {
        flex: 0 0 70px;
        max-width: 70px;
        margin-right: 15px;
    }
    .recommend-item__description {
        flex: 0 0 calc(100% - 70px);
        max-width: calc(100% - 70px);
    }
    .recommend-item__link {}
    .recommend-item__date {
        margin-top: .3em;
        font-style: italic;
    }
    /* Advert */
    .advert-area {
        margin-top: .5em;
        padding: 2em 1em 1em;
        background: white;
        border-radius: .5em;
    }
    .widget-title {}
    .advert-wrap {}
    .advert-item {
        width: 100%;
        height: 20em;
        background-color: #dfdfdf;
        border-radius: .5em;
        margin: 1.3em 0 0;
        /* Если будет контент, margin заменить на padding */
        /* padding: 1.3em 0 0; */
        /*  */
        /* display: flex;
        padding: 1.5em 0;
        color: gray;
        font-size: .9em;
        line-height: 1.5em; */
    }
    .advert-item>span {
        display: inline-block;
        text-align: center;
        color: grey;
        line-height: 20em;
    }
    .advert-item__image {
        flex: 0 0 70px;
        max-width: 70px;
        margin-right: 15px;
    }
    .advert-item__description {
        flex: 0 0 calc(100% - 70px);
        max-width: calc(100% - 70px);
    }
    .advert-item__link {}
    .advert-item__date {
        margin-top: .3em;
        font-style: italic;
    }
    /* Form for subscribe */
    .subscribe {
        margin-top: .5em;
        padding: 2em 1em 1em;
        background: white;
        border-radius: .5em;
    }
    .textfield {
        height: 3em;
        margin-top: 1.5em;
        padding: .3em;
        border-radius: .2em;
    }
    .textfield:focus {
        background-color: rgb(231, 231, 231);
    }
    /* Video Container */
    .video-container {
        grid-area: video;
        padding: 2em 0;
        border-top: 3px solid rgb(231, 231, 231);
    }
    .section-title {
        margin-bottom: 1em;
    }
    .section-title h5 {
        display: inline-block;
        width: auto;
        color: white;
        background-color: red;
        padding: .4em;
        text-decoration: none;
        text-transform: uppercase;
        font-size: .7em;
        letter-spacing: .1em;
    }
    .invid-col {
        margin-bottom: 1.5em;
    }
    .invid-col h6 {
        margin-top: .5em;
        font-family: 'Comfortaa', sans-serif;
        font-size: .8rem;
    }
    /* Slider */
    .slider-wrapper {
        grid-area: slide;
        background-color: #1d1d1d;
        position: relative;
    }
    .container_slider {
        padding: 4em 0 7em;
    }
    .slider-frame-hidden {
        overflow: hidden;
    }
    .slider-list {
        display: flex;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .slider-element {
        flex: 1 0 100%;
    }
    .slide-img {
        margin-bottom: 1em;
    }
    .slide-content div:not(:first-child) {
        margin-top: 1em;
    }
    .slide-category-title a {
        color: white;
        background-color: red;
        border-radius: .3em;
        padding: .4em;
        text-decoration: none;
        text-transform: uppercase;
        font-size: .7em;
        letter-spacing: .1em;
    }
    .slide-news-title a {
        color: white;
        font-family: 'Comfortaa', sans-serif;
        font-size: 1.2rem;
    }
    .slide-news-date {
        color: white;
        font-style: italic;
        font-size: .9em;
    }
    .slide-news-text {
        color: rgb(192, 192, 192);
        font-size: .9em;
        line-height: 1.5em;
    }
    /* Slider Nav Items */
    div.slider-arrow-left {
        left: -55px;
        top: 45%;
        background: url("../img/elem-img/left-arrow.png") no-repeat;
        opacity: 0;
    }
    div.slider-arrow-right {
        right: -55px;
        top: 45%;
        background: url("../img/elem-img/right-arrow.png") no-repeat;
        opacity: 0;
    }
    .slider-wrapper:hover div.slider-arrow-left,
    .slider-wrapper:hover div.slider-arrow-right {
        display: block;
        width: 32px;
        height: 32px;
        position: absolute;
        cursor: pointer;
        opacity: 0.5;
        z-index: 32;
        -webkit-transition: opacity 1s ease;
        -moz-transition: opacity 1s ease;
        -o-transition: opacity 1s ease;
        transition: opacity 1s ease;
    }
    div.slider-dots {
        width: 100%;
        height: auto;
        position: absolute;
        left: 0;
        bottom: 2em;
        z-index: 30;
        text-align: center;
    }
    span.slider-dot {
        width: 10px;
        height: 10px;
        margin: 5px 7px;
        padding: 0;
        display: inline-block;
        background-color: #BBB;
        border-radius: 5px;
        cursor: pointer;
    }
    /* Footer */
    .footer {
        grid-area: footer;
        background-image: url("../img/bg-img/4.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        z-index: 2;
    }
    .footer_overlay:before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .footer-widget-area {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 5em 0;
    }
    .single-footer-widget {
        flex: 0 1 100%;
        padding-left: 1em;
    }
    .footer-widget-title {
        margin: 2em 0;
    }
    .font-pt {
        color: white;
        font-family: 'Comfortaa', sans-serif;
        font-size: 1.3rem;
    }
    .footer-widget-menu {
        list-style-type: none;
        line-height: 1.9em;
    }
    .footer-widget-menu a {
        color: rgb(192, 192, 192);
        padding-right: 0;
        -webkit-transition: all 500ms ease 0s;
        -moz-transition: all 500ms ease 0s;
        -o-transition: all 500ms ease 0s;
        transition: all 500ms ease 0s;
    }
    .footer-widget-menu a:hover {
        color: white;
        padding-left: .5em;
        -webkit-transition: all 500ms ease 0s;
        -moz-transition: all 500ms ease 0s;
        -o-transition: all 500ms ease 0s;
        transition: all 500ms ease 0s;
    }
    .bottom-footer {
        border-top: 1px solid rgb(150, 150, 150);
    }
    .powered {
        margin: 3em 0;
        color: rgb(175, 175, 175);
        font-size: .9em;
        text-align: center;
    }
    .powered-indent {
        display: block;
    }
    .vertical-dash {
        display: none;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
    .logo {
        width: 10em;
        padding-top: unset;
        /* margin-right: 10em; */
    }
    .h-menu__services-item {
        max-width: 10em;
        margin-left: 2.8em;
    }
    /* Menu */
    .menu-toggle-wrap {
        width: 4.5em;
    }
    /* Single Post */
    .ts-news-title h2,
    .single-post__title h2 {
        font-size: 1.8rem;
    }
    /* Read More */
    .read-more__title a {
        font-family: 'Comfortaa', sans-serif;
        font-size: 1em;
        line-height: 1em;
    }
    /* Comment Area */
    .comment-area-header {
        display: flex;
        justify-content: space-between;
    }
    .comment-area-header__title {
        margin: 0;
        width: 45%;
    }
    .comment-area-header__subscribe {
        width: 45%;
    }
    .single-footer-widget {
        flex: 0 1 50%;
    }
}


/* !!!!! Styles for Phones End !!!!! */


/* !!!!! Styles for Tablet Start !!!!! */

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .h-menu__geolocation-window {}
    .geolocation-window__current-region {
        font-size: unset;
    }
    .h-menu__geolocation-window-inner {
        display: flex;
    }
    .geolocation-window__item_down {
        margin-top: 0;
    }
    .select-region-text {
        font-size: unset;
    }
    /* Single Post */
    /* Read More */
    .read-more {
        margin: 0 1em 1em 0;
        width: 40%;
    }
    .read-more__list {
        display: block;
    }
    .read-more__img {
        padding-right: unset;
        padding-bottom: 1em;
    }
    /* Comment Area */
    /* ************************************************** */
    /* Multi News One Category */
    .one-category-news__content-col {
        font-size: .8em;
    }
    .ocn-news-text {
        height: 2.3em;
    }
    /* ************************************************** */
    /* Carousel */
    /* .carousel_item {
        height: 28em;
        background-size: 250% auto;
    } */
    /* Footer */
    .single-footer-widget {
        flex: 0 1 33.3333333%;
    }
}


/* !!!!! Styles for Tablet End !!!!! */


/* !!!!! Styles for Laptop Start !!!!! */

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    /* Header */
    .header {}
    .h-menu__geolocation {
        padding-right: 8em;
    }
    .h-menu__geolocation-window {
        width: 900px;
    }
    .h-menu__name-region,
    .h-menu__news-region,
    .h-menu__login {
        display: block;
        flex-shrink: 0;
    }
    .h-menu__logout {
        display: block;
        flex-shrink: 0;
    }
    .h-menu__geo {
        display: none;
    }
    /* Nav */
    .nav {
        display: unset;
        grid-area: nav;
        position: relative;
        top: 0;
    }
    .nav.fixed {
        position: fixed;
    }
    .nav ul {
        display: flex;
        justify-content: flex-start;
        list-style-type: none;
    }
    .nav li {
        text-transform: uppercase;
        font-size: .8em;
        padding: .5em 1em;
        margin: .5em 0;
        width: auto;
    }
    .nav li a.active_red {
        color: red;
    }
    .menu-toggle-wrap {
        display: none;
    }
    /* Nav Subcategory */
    .nav-subcategory {
        border-bottom: 0;
    }
    .nav-subcategory-inner {
        padding: 0;
    }
    .nav-subcategory-title {
        display: none;
    }
    .nav-subcategory-list select {
        display: none;
    }
    .nav-subcategory-list ul {
        display: flex;
        justify-content: flex-start;
        list-style-type: none;
    }
    .nav-subcategory-list ul li {
        text-transform: uppercase;
        font-size: .8em;
        padding: .5em 1em;
        margin: .5em 0;
        width: auto;
    }
    .nav-subcategory-list ul li a.active_red {
        color: red;
    }
    /* -------------------------------------------------- */
    /* Inner Content */
    .inner-content {
        flex-flow: unset;
        margin: .5em 0 6.5em;
    }
    /* Not Found */
    .notfound {
        margin: 9.5em 0 3.5em;
        display: flex;
        justify-self: start;
        align-items: center;
    }
    .notfound__code {
        flex-basis: 30%;
        font-size: 7em;
        text-align: center;
    }
    .notfound__text {
        flex-basis: 48%;
        font-size: 2em;
        text-align: start;
    }
    .notfound__text a {}
    /* Main */
    .main {
        display: flex;
        flex: 0 0 77%;
        flex-flow: column wrap;
        padding-right: .5em;
        margin-bottom: 0;
    }
    /* Top Single News */
    .ts-news-content {
        margin: 2em auto;
    }
    .ts-news-content div:not(:first-child) {
        margin-top: 2em;
    }
    .ts-news-title h2 {
        font-size: 2rem;
    }
    .ts-news-date {
        margin-bottom: unset;
    }
    .ts-news-image {
        margin-bottom: unset;
    }
    /* Single Post */
    /* Single Post Subpost Contacts */
    .single-post__subpost-contacts {
        display: flex;
        flex: 0 1 33.3333333%;
        justify-content: space-between;
    }
    .single-post__subpost-contacts-item {
        width: 30%;
    }
    .subpostcon-telegram {}
    .subpostcon-telegram__link {}
    .subpostcon-telegram__link:hover {}
    .subpostcon-telegram__icon img {}
    .subpostcon-telegram__text {}
    .subpostcon-comment {}
    .subpostcon-comment__open-comments {}
    .subpostcon-comment__open-comments:hover {}
    .subpostcon-comment__icon img {}
    .subpostcon-comment__text {}
    .subpostcon-comment__count {}
    /* Other Top News */
    .other-top-news {
        display: block;
        /* border-bottom: 3px solid rgb(231, 231, 231); */
    }
    .one-other-top-news:not(:last-child) {
        /* border-bottom: 1px solid rgb(231, 231, 231); */
    }
    .one-other-top-news {
        display: flex;
        /* padding: 3em 0; */
        margin-top: .5em;
        padding: 1em;
        background-color: white;
        border-radius: .5em;
    }
    .oot-news-image {
        flex: 0 0 40%;
        padding-right: 1.5em;
    }
    .oot-news-content {
        flex: 0 0 60%;
        display: flex;
        flex-flow: column nowrap;
    }
    .oot-news-content div:first-child {
        margin-top: 0;
    }
    .oot-news-content div:not(:first-child) {
        margin-top: 1em;
    }
    .oot-news-title h2 {
        font-family: 'Comfortaa', sans-serif;
        font-size: 1.2rem;
    }
    .oot-news-date {
        font-style: italic;
        font-size: .8em;
    }
    .oot-news-text {
        color: gray;
        font-size: .9em;
    }
    /* Category Top News */
    .one-category-top-news {
        /* padding: 2em 0; */
        padding: 1em;
        border: 0;
    }
    .one-category-top-news:not(:last-child) {
        /* border-bottom: 3px solid rgb(231, 231, 231); */
    }
    .oct-news-list {
        display: flex;
        /* padding-top: 1.5em; */
    }
    .oct-news-list-col-1 {
        flex: 0 1 30%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        padding-right: 2em;
        border: 0;
    }
    .oct-news-title {
        margin: 0;
    }
    .oct-news-list-col-1>div:not(:first-child) {
        margin-top: 1em;
    }
    .oct-news-list-col-2 {
        flex: 0 1 35%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        padding: 0 2em;
        border-bottom: 0;
        border-left: 1px solid rgb(225, 225, 225);
        position: relative;
    }
    .oct-news-list-col-3 {
        flex: 0 1 35%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        padding-left: 2em;
        border-left: 1px solid rgb(225, 225, 225);
        position: relative;
    }
    .oct-news-list-row {
        flex: 0 1 42%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        border: 0;
    }
    .oct-news-list-row:not(:first-child):before {
        content: "";
        display: inline-block;
        width: calc(100% - 4em);
        height: 1px;
        margin: 0 auto;
        background-color: rgb(225, 225, 225);
        position: absolute;
        top: 50%;
        z-index: 1;
    }
    .oct-news-list-row:not(:last-child) {
        border-bottom: 0;
    }
    .oct-news-title h2 {
        display: unset;
    }
    .mobile-oct-news-date {
        display: none;
    }
    .oct-news-date {
        display: unset;
        font-style: italic;
        font-size: .8em;
    }
    /* ************************************************** */
    /* Multi News One Category */
    .one-category-news__wrap {}
    .one-category-news__row_top,
    .one-category-news__row_midlle,
    .one-category-news__row_down {
        flex-direction: unset;
        margin-bottom: .5em;
    }
    .one-category-news__content-col {
        margin: 0;
        font-size: .7em;
    }
    .third-col {
        flex-basis: 32.7%;
    }
    .half-col {
        flex-basis: 49.55%;
    }
    .single-col {
        flex-basis: 100%;
    }
    .one-category-news__content-row {
        flex-basis: 50%;
    }
    .one-category-news__content-row_mobile {
        display: none;
    }
    .ocn-news-title {}
    .ocn-news-title>a:before {}
    .ocn-news-text {
        /* height: 2.2em; */
        height: 2.5em;
    }
    .ocn-news-image {}
    .ocn-news-date {}
    .one-category-news__content-row_flex {
        display: flex;
        justify-content: space-between;
    }
    .one-category-news__content-col_flex {
        flex-basis: 48%;
    }
    /* ************************************************** */
    /* Sidebar */
    .sidebar {
        display: flex;
        flex: 0 0 23%;
        flex-direction: column;
        margin-bottom: 0;
        border-top: 0;
    }
    .main-news {
        margin-top: 0;
    }
    .main-news,
    .recommend-area,
    .advert-area,
    .subscribe,
    .subform {
        padding: 1em;
        display: flex;
        flex-flow: column wrap;
    }
    /* Form for subscribe */
    .subform {
        justify-content: space-between;
        min-height: auto;
        align-items: center;
    }
    /* Video Container */
    .video-container {
        grid-area: video;
        padding-bottom: 3em;
        border-top: 3px solid rgb(231, 231, 231);
    }
    .invid-row {
        display: flex;
        justify-content: space-between;
    }
    .invid-row:last-child {
        margin-top: 2em;
    }
    .invid-col {
        flex: 0 1 22%;
        margin-bottom: 0;
    }
    /* Slider */
    .container_slider {
        padding: 7em 0;
    }
    .slider-element {
        display: flex;
        flex: 1 0 100%;
    }
    .slide-img {
        flex: 0 0 40%;
        margin: 0;
        padding-right: 2em;
    }
    .slide-content {
        flex: 0 0 60%;
    }
    .slide-content div:not(:first-child) {
        margin-top: 1.5em;
    }
    .slide-news-title a {
        font-size: 2rem;
    }
    .slide-news-date {
        font-size: 1em;
    }
    .slide-news-text {
        font-size: 1em;
    }
    /* Slider Nav Items */
    /* Footer */
    .footer {}
    .single-footer-widget {
        flex: 0 1 16.6666666%;
    }
    .powered {}
    .powered-indent {
        display: none;
    }
    .vertical-dash {
        display: inline;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
    /* Carousel */
    /* .carousel_item {
        height: 33em;
        background-size: 290% auto;
    } */
}

@media (min-width: 1600px) {
    .container {
        max-width: 1440px;
    }
}


/* !!!!! Styles for Laptop End !!!!! */


/* !!!!! Styles for 4K Start !!!!! */


/* @media (min-width: 1920px) {
    .container {
        max-width: 1680px;
    }
} */


/* !!!!! Styles for 4K End !!!!! */